<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="tuners.ch,tuners,wtf">

        {% comment %}
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        {% endcomment %}
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.min.css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <article>
                    {{ content }}
                    </article>
                </div>
            </div>
        </div>
    </body>
</html>
